<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <main>
      <ul class="cart__item-list">
        <% products.forEach(p=> { %>
        <li class="cart__item">
          <h1><%= p.productId.title %></h1>
          <h2>Quantity: <%= p.quantity %></h2>
        </li>
        <% }) %>
      </ul>

      <div>
        <h2>Total:<%=totalSum%></h2>
      </div>
      <div>
        <button id="btn-id">Order</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          var stripe = Stripe(
            "pk_test_51KuMxrSEtLA6WKECukeaD2aYIp5xq93b4Rv6gfUibajAzHirshza1oMMPeGpIuccawWZ3HbMi1jh3nlwubUQqct8004bpAbNdI"
          );
          var orderBtn = document.getElementById("btn-id");
          orderBtn.addEventListener("click", function () {
            stripe.redirectToCheckout({
              sessionId: "<%= sessionId%>",
            });
          });
        </script>
      </div>
    </main>
  </body>
</html>
